@charset "utf-8";
/* CSS Document */
body{img src="screen-12.jpg"}
#contenedor{background-color;
	width: 1000px;
	height: 1000px;
	padding-top: 25px;
	text-align: center;
	font-family: Times New Roman;
	margin: auto;
	
}

header{
	background-color:#FFFFFF;
	width: 450px;
	height: 210px;
	margin:auto;
	margin-top: 25px;
	margin-bottom: 20px;
}


nav{
	background-color:#4D9CA3;
	width: 400px;
	height: 35px;
	margin: auto;
	margin-bottom: 10px;
	margin-top: 15px;
}
section{
		text-align: left;

	background-color: #4D9CA3;
width: 870px;
height:820px;
	margin:auto;
	margin-bottom: 15px;
padding-top: 15px;}



footer{background-color:#4D9CA3;
width: 870px;
height: 110px;

	margin: auto;
	clear: both;}